.column {
    float: left;
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 1em
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    width: 50%;
}

.bordered {
    border-style: solid;
    border-width: 1px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.message {
    color: white;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width:40%
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.margin-left-sm {
    margin-left: 10px
}

.blog-style {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px
  }